{{#isModel}}{{#isFile}}IO[Any]{{/isFile}}{{^isFile}}{{{dataType}}}{{/isFile}}{{/isModel}}{{#isUuid}}UUID{{/isUuid}}{{#isListContainer}}List[{{#items}}{{>_dataTypeModel}}{{/items}}]{{/isListContainer}}{{^isListContainer}}{{#isMapContainer}}Dict[{{#items}}str, {{>_dataTypeModel}}{{/items}}]{{/isMapContainer}}{{/isListContainer}}{{^isModel}}{{^isUuid}}{{^isFile}}{{^isListContainer}}{{^isMapContainer}}{{{dataType}}}{{/isMapContainer}}{{/isListContainer}}{{/isFile}}{{/isUuid}}{{/isModel}}