{{#returnType}}{{#returnTypeIsPrimitive}}{{{returnBaseType}}}{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}m.{{{returnBaseType}}}{{/returnTypeIsPrimitive}}{{/returnType}}{{^returnType}}None{{/returnType}}